@import compass/reset
@import compass/utilities
@import compass/css3
@import my-mixins.sass

$light: #fff
$dark: #453434 + #111
$title_font: 'Lobster Two', cursive, serif
$body_font: 'Droid Serif', Georgia, serif
$blackboard_font: 'Short Stack', cursive
$alt_font: Verdana, sans-serif

$link_color: #325989
$dark_red: #7A1500
$orange: #D16E19
$default-text-shadow-color: $light
$default-text-shadow-h-offset: 1px
$default-text-shadow-v-offset: 1px
$default-text-shadow-blur: 1px

$default-box-shadow-color: #333
$default-box-shadow-h-offset: 0px
$default-box-shadow-v-offset: 2px
$default-box-shadow-blur: 3px
$default-box-shadow-spread: 0

$default-border-radius: 3px

$experimental-support-for-svg: true