<p>Thank you for registering for our wholesale shop. You can now log in using the credentials you provided!</p>

<p>What makes us a great wholesale glitter tattoo supplier?</p>

<ul>
    <li>Price – retail margins of between 30-50% plus on all products!</li>
    <li>Free delivery on all UK wholesale orders</li>
    <li>Fast, secure online ordering</li>
    <li>Small minimum orders only £120</li>
    <li>Make your own kit to suit your target customer</li>
    <li>Product Images &amp; content to use in your online shop (if applicable)</li>
    <li>Reliability</li>
    <li>Customer service</li>
    <li>Fast shipment</li>
</ul>

<p>If you are purchasing a Professional Glitter Artist Kit be sure to send us an email to info@manai.co.uk with the following information so we can add you to our Artists Directory.</p>

<p>First Name, Last Name, Company Name, City &amp; Country, Website Link (if you don’t have a website consider submitting a link to a Social Media profile), Telephone Number, Your hourly Rate, A Profile Picture and a description of what services you offer (Maximum 500 characters).</p>

<p>We would love to connect on our Social Media channels:</p>

<a href="http://www.facebook.com/manaiglittertattoos">Facebook </a><br>
<a href="https://www.twitter.com/manai_glitter">Twitter </a><br>
<a href="http://pinterest.com/ManaiGlitter/">Pinterest </a><br>
<a href="http://uk.linkedin.com/pub/meena-sidpra/17/73a/465">Linked In</a><br>

<p>We value your business. Please let us know if there is anything we can do to improve our products and service.</p>

<p><a href="{{ site_url }}wholesale-shop/accounts/login/">Click here to log in and view wholesale prices</a><p>

<p>Kind regards,</p>

<p>
    Meena Sidpra<br>
    <a href="{{ site_url }}">manai.co.uk</a>
</p>

<p>
    <a href="mailto:info@manai.co.uk">info@manai.co.uk</a><br>
    07624 482582
</p>